@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  white-space: pre-line;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #654ea3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
      
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background: #8971ca;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
}

h1 {
  margin: 0;
  padding: 0;
}

*:focus {outline:none !important}

input, button, select, option{
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  background-color: white; 
  color: black; 
  border: 2px solid rgb(0, 0, 0);
}

.search:hover {
  background-color: rgb(89, 159, 218);
  color: white;
}
.save:hover {
  background-color: #4CAF50;
  color: white;
}
.delete:hover {
  background-color: rgb(255, 7, 7);
  color: white;
}
#credits{
  float:right;
  font-size: 0.6em;
  opacity: 0.75;
}